input {
  line-height: normal;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.box {
  border: 2px solid green;
  margin: 10px auto;
  padding: 10px 30px;
  max-width: 600px;
  color: #2d8484;
  box-shadow: 3px 3px 10px #2a7143;
  border-radius: 5px;
}

.spanh2 {
  white-space: nowrap;
}

.search {
  margin: 10px 0;
  padding: 5px;
}

.btn {
  color: #2d8484;
  box-shadow: 1px 1px 3px #2a7143;
}

.btn:hover {
  background-color: #2d8484;
  color: white;
  box-shadow: 1px 1px 3px #2a7143;
}

#current-temperature,
#date,
#current-weather-status {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

#searched-city {
  text-transform: capitalize;
}
