input {
  line-height: normal;
}

.sky {
  font-size: 60px;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.box {
  border: 2px solid green;
  margin: 10px auto;
  padding: 10px 30px;
  max-width: 600px;
  color: #198754;
}

.spanh2 {
  white-space: nowrap;
}

.search {
  margin: 10px 0;
  padding: 5px;
}

#current-temperature,
#date {
  font-size: 20px;
  font-weight: bold;
}

#searched-city {
  text-transform: capitalize;
}
